body {
    font-family: Roboto, sans-serif; 
    text-decoration: none;
    color: var(--primery-text-color);
    letter-spacing: 0.03em;
}
:root {
    --primery-text-color:#757575;
    --accent-text-color: #2196F3;
    --title-text-color: #212121;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}


/* heder */
.header-style a {
    text-decoration: none;
}
.primery-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-text-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
}
.mail-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-text-color);
    
}
.phone-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-text-color);
}
/* hero */
.hero-style .button {

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.8;
background-color: var(--accent-text-color);
color: #FFFFFF;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
.hero-style h1 {
    text-transform: uppercase;
}


main {
    
}
    
ul {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--title-text-color);
}
.logo-color {
    color:var(--accent-text-color);
}
/* Hero */
.hero-style {
    background: #2F303A;
}
.hero-style h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
}
/* benefits*/
.benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
}
.benefits p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primery-text-color);
}
.benefits h3 {
    text-transform: uppercase;
}

/* Comand */
.comand {
    background-color: #F5F4FA;
}
.comand-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);

}

.comand-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color:  var(--primery-text-color);
}
/* footer */
footer {
    background-color: #2F303A;
}

address a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,17;
    letter-spacing: 0.03em;

    
}
footer .logo {
    color: #ffffff;
}
/* Project */

.project-text-primery {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
    letter-spacing: 0.06em;
}
.project-text-assent {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
    text-decoration: none;letter-spacing: 0.03em;
}

a {text-decoration: none;}

.site-nav .link {
    text-transform: capitalize;
  }

  pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
  }
  
  pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
  }